{% extends 'base.html' %}

{% block content %}
<style>
  .hero3{
    padding:20px 15%;
  }
  .log3 h1{
    color:#ccc;
  }
  .log3 p{
    color:#fff;
    margin:10px 0 10px 0;
  }
  .log3 a{
    color:#fd004d;
  }
  @media(max-width:1270px){
    .hero3{
      padding:20px 2%;
    }
  }
</style>
  <div class="hero3">
    <div class="reg2">
        <div class="log3">
        <h1>LOGGED OUT</h1>
        <hr>
        <p>Thank you for spending some quality time in our website today.
         <a href="{% url 'login' %}">Log In Again</a>
        </p>
        </div>
    </div>
</div>
{% endblock content %}

